<%- include("header") -%>

    <h1 class="box" id="heading">About Me</h1>

    <p class="about"> 
        I am a full-stack software engineer with immense knowldege on various aspects of the software development lifecycle.
        Kindly reach out if you're interested in more detail regarding my line of work.
    </p>

<%- include("footer") -%>
